.room-field {
  //   background-color: aqua;
  padding: 1vh;
  flex: 1 1 0%;
  display: flex;
}

.left-field {
  flex: 1 1 0%;
  padding: 1vh;
  margin: 5px;
  background-color: #bccdd6b3;
  border-radius: 2px 60px 2px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-room {
  align-self: center;
  width: 70%;
  display: flex;
  padding: 1vh;
  border-radius: 4px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: #bccdd6b3;
}

.room-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.room-label {
  padding: 0.5vh;
  font-size: 2vh;
  color: white;
}

.room-input-div {
  margin-top: 0;
  margin-right: 10px;
  margin-left: 8px;
  margin-bottom: 8px;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.room-button {
  width: 10rem;
  height: 3vh;
  background: none;
  border: 0px;
  outline: none;
  opacity: 0;
  transition-delay: 5ms;
}

.room-button:enabled {
  opacity: 1;
  transition: all 1s;
  cursor: pointer;
}

.room-button:disabled {
  opacity: 0;
  transition: all 0.8s;
}

.room-p {
  font-size: 2vh;
  font-family: "ArcadeClassic";
  margin: 0;
  background-clip: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.room-input {
  color: white;
  padding: 18.5px 14px;
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 18px;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: MuiInputBase-keyframes-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
}

.room-fieldset {
  padding-left: 8px;
  border-color: white;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  transition: padding-left 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    border-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
}

.room-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.room-list-h2 {
  margin: 0;
  font-size: 3vh;
  color: white;
}

.header-list {
  height: 6%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-width: 3px 3px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: white;
  border-right-color: white;
  border-left-color: white;
  border-image: initial;
  border-bottom-style: initial;
  border-bottom-color: initial;
  border-radius: 5px 5px 0px 0px;
}
.list-name {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 3 1 0%;
}

.list-attribute {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1 1 0%;
}

.header-p {
  font-size: 2vh;
}

.body-list {
  height: 100%;
  border: 3px solid white;
  border-radius: 0px 0px 5px 40px;
  overflow-y: auto;
}

.right-field {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.score {
  flex: 1 1 0%;
  padding: 20px;
  margin: 5px;
  background-color: #bccdd6b3;
  border-radius: 2px 60px 2px 2px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.chat {
  display: flex;
  flex: 4 1 0%;
  padding: 10px;
  margin: 5px;
  background-color: #bccdd6b3;
  border-radius: 2px;
}

.game {
  border-radius: 2px 2px 2px 2px;
}

.left-chat {
  border-radius: 2px 2px 2px 60px;
}

.next-p {
  font-size: 3vh;
  margin-bottom: 30px;
  position: relative;
}

.next-field {
  display: flex;
  flex-direction: column;
  border-radius: 2px 2px 2px 2px;
}

.score-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.score-level-div {
  height: 9vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  // background-color: ;
}

.score-p {
  font-size: 2vh;
  margin-bottom: 10px;
  position: relative;
}

.mode-select {
  background: none;
  border: 2px solid white;
  width: 10vh;
  color: white;
  height: 40px;
  border-radius: 4px;
  font-family: "ArcadeClassic";
}

.score-num {
  color: white;
  font-size: 3vh;
}

.mode-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  position: relative;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 86vh;
  width: 43vh;
  border: 3px solid white;
  border-radius: 3px 0px 0px 3px;
}

.row {
  flex: 1 1 0%;
  display: flex;
}

.col {
  flex: 1 1 10%;
  border: 1px solid #b7a5a5;
}

.chat-field {
  display: flex;
  flex: 1 1 0%;
  border: 3px solid white;
  border-radius: 5px;
  height: 0px;
  min-height: 100%;
}

.players {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  background-color: rgba(0, 0, 0, 0.3);
  border-right: 3px solid white;
}

.messages {
  flex: 4 1 0%;
  display: flex;
  flex-direction: column;
}

.title-PM {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  border-bottom: 3px solid white;
}

.input-message {
  height: 4vh;
  padding: 0.5vh 0.5vh 0.5vh 1vh;
  border-radius: 5px;
  border: 2px solid white;
  width: 100%;
  background: none;
  outline: none;
  color: white;
  font-family: Verdana;
  font-size: 1.5vh;
  font-family: "ArcadeClassic";
}

.input-form {
  display: flex;
  padding: 5px;
}

.messages-field{
  display: block;
  flex: 1 1 0%;
  padding: 5px;
  flex-wrap: wrap;
  overflow: hidden auto;
  text-overflow: ellipsis;
}
